{% extends "base.html" %}
{% load static %}

{% block title %}Following - SafeSpace{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/followingUp.css' %}"> 
{% endblock %}

{% block content %}
<div class="main-content-area">
    
    <h2 class="page-header">Following</h2>

    <div class="following-list">

        <div class="following-item" data-user-id="1">
            <div class="following-body">
                <p class="following-main-text">
                    <a href="#" class="user-link">Chemry Writes</a>
                </p>
                <p class="following-snippet">
                    it's the pen that bleeds...
                </p>
                <p class="following-meta">
                    <span class="join-date">Joined 2 days ago</span> | 
                    <span class="follower-count">120 Followers</span>
                </p>
            </div>
            
            <div class="following-action-area">
                <i class="fas fa-heart following-heart"></i>
                <div class="following-placeholder-img"></div>
            </div>
        </div>
        
        <div class="following-item" data-user-id="2">
            <div class="following-body">
                <p class="following-main-text">
                    <a href="#" class="user-link">Hunt my Shadow</a>
                </p>
                <p class="following-snippet">
                    hunter of living death
                </p>
                <p class="following-meta">
                    <span class="join-date">Joined 1 month ago</span> | 
                    <span class="follower-count">500 Followers</span>
                </p>
            </div>
            <div class="following-action-area">
                <i class="fas fa-heart following-heart active"></i> 
                <div class="following-placeholder-img"></div>
            </div>
        </div>

        <div class="following-item" data-user-id="3">
            <div class="following-body">
                <p class="following-main-text">
                    <a href="#" class="user-link">Tuesday with Morrie</a>
                </p>
                <p class="following-snippet">
                    don't cling to things because everything is impermanent
                </p>
                <p class="following-meta">
                    <span class="join-date">Joined 3 weeks ago</span> | 
                    <span class="follower-count">2.3K Followers</span>
                </p>
            </div>
            <div class="following-action-area">
                <i class="fas fa-heart following-heart"></i>
                <div class="following-placeholder-img"></div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/following.js' %}"></script>
{% endblock %}